<h1>Welcome to Scrabble Word Scorer</h1>
<form action="/word">
  <div class="form-group">
    <label for="word">What word would you like to know the score of?</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-danger">Send</button>
</form>
